body{
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: Red;
    font-size: 25px;
}

.Contenedor{
    display: inline-block;
}

.menu li{
    list-style: square;
}

.menu a{
    color: blue;
    text-decoration: none;
    font-size: 15px;
}

.menu a:hover{
    color: rgb(238, 255, 0);
}
