*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.navegacion{
    width: 100%;
    background: #FFF;
}

.navegacion ul{
    list-style: none;
}

.menu  > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.menu li a:hover{
    color: #CE7D35;
    transition: all .3s;
}

/*SubMenu*/

.submenu{
    position: absolute;
    background-color: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}